*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
.row{
    display: flex;
}
header nav a{
    text-decoration: none;
}
header nav .home{
    float: right;
}
header nav .messages{
    float: right;
    margin-left: 20px;
}
header nav .profile{
    float: right;
    margin-left: 20px;
}
.row .col-12 .text-title{
    background-color: grey;
    height: 400px;
}
.row .col-12 .text-title h1{
    text-align: center;
    font-size: 50px;

}
.row .col-12 .text-title .col-5{
     text-align: center;
     margin-left: 29.17% ;
     margin-top: 25px;
     font-size: 25px;
}
.row .col-12 .text-title button{
    padding: 10px 60px;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}
.row .col-12 .text-title .act-blue{
    color: white;
    background-color: blue;
    margin-left: 29.17%;
    font-size: 20px;
}
.row .col-12 .text-title .act-red{
    color: white;
    background-color: red;
    margin-left: 1%;
    font-size: 20px;
}
main #contect-block{
    background-color: white;
    height: 350px;
}
main #contect-block .row .col-12{
    margin-left: 5%;
    margin-top: 20px;
}
main #contect-block .row .col-12 .row .col-6 h2{
    font-size: 30px;
}
main #contect-block .row .col-12 .row .col-6 p{
    font-size: 20px;
    margin-top: 15px;
}
main #contect-block .row .button{
    color: white;
    background-color: royalblue;
    padding: 10px 60px;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}
main #contect-block .row .col-12 .row .col-5{
    background-color: rgb(150, 149, 149);
    text-align: center;
    height: 250px;
}
main #contect-block .row .col-12 .row .col-5 h2{
    font-size: 30px;
    margin-top: 9.
    0px;
}
main #contect-block-second{
    height: 500px;
}
main #contect-block-second .row{
    text-align: center;
}
main #contect-block-second .row .col-12 h2{
    font-size: 30px;
}
main #contect-block-second .row .col-12 .row{
    margin-left: 180px;
}
main #contect-block-second .row .col-12 .row .col-3{
    margin-left: 30px;
}

main #contect-block-second .row .col-12 .row .col-3 .icon{
    background-color: turquoise;
    height: 250px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    font-size: 70px;
    text-align: center;
    padding-top: 20%;
}
main #contect-block-second .row .col-12 .row .col-3 .icon-second{
    background-color: turquoise;
    height: 250px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    font-size: 70px;
    text-align: center;
    padding-top: 20%;
    
}
main #contect-block-second .row .col-12 .row .col-3 .icon-three{
    background-color: turquoise;
    height: 250px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    font-size: 70px;
    text-align: center;
    padding-top: 20%;
}
main #content-four{
    height: 500px;
}
main #content-four .text{
    text-align: center;
    margin-bottom: 50px;
}
main #content-four .text h1{
    font-family: 'Arial',sans-serif;
    margin-bottom: 30px;
}
main #content-four .text p{
    font-family: 'Arial',sans-serif;
    color: rgb(77, 77, 77);
}
main #content-four .row .col-4 input{
    width: 300px;
    height: 30px;
    margin-left: 100px;
}
main #content-four .message textarea{
    margin-top: 20px;
    margin-left: 100px;
    width: 1170px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
main #content-four button{
    margin-left: 100px;
    color: white;
    height: 40px;
    width: 70px;
    background-color: rgb(0, 110, 255);
    border-radius: 4px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
main #contect-three{
    height: 600px;
}
main #contect-three .text-contect{
    display: flex;
    justify-content: center;
}
main #contect-three .text-contect h1{
    text-align: center;
}
main #contect-three .row .col-12 .row .col-3 .border{
    background-color: gray;
    height: 170px;
    text-align: center;
    margin-left: 20px;
    width: 300px;
    margin-top: 20px;
}
main #contect-three .row .col-3 .border h1{
    padding-top: 75px;
}
footer #footer-final{
    height: 100px;
    background-color: gray;
    text-align: center;
}
footer #footer-final .row .col-12 h2{
    margin-top: 25px;
}
footer .footer p{
    font-size: 25px;

}


